* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.navbar-brand {
    font-size: 24px;
}

.box {
    position: relative;
    top: 2px;
}

section.banner {
    position: relative;
    min-height: 500px;
    background-image: url('../imagens/bg.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}



section.banner > .container {
    position: relative;
    z-index: 2;
}

.overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}

.chamada-banner h2  {
    color: rgb(21, 182, 160);
    font-size: 48px;
}

.chamada-banner p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 10px 0 32px;
}

.chamada-banner a {
    display: inline-block;
    background-color: turquoise;
    border: solid 3px turquoise;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}

.chamada-banner a:hover{
    background-color: white;
    color: turquoise;
    transition: 600ms;
    font-weight: 600;
}

section.cadastro-lead {
    background-color: rgb(21, 182, 160);
    padding: 20px 0;
}

section.cadastro-lead h2 {
    color: white;
    font-size: 25px;
    vertical-align: middle;
}

section.cadastro-lead h2>svg{
    margin-bottom: 5px;
}

section.cadastro-lead form {
    vertical-align: middle;
    position: relative;
    top: 0px;
}

section.cadastro-lead input[type=text] {
    width: 85%;
    height: 40px;
    border: solid 1px #ccc;
    padding-left: 8px;
    vertical-align: middle;
}

section.cadastro-lead input[type=submit] {
    width: 15%;
    height: 40px;
    vertical-align: middle;
}

section.depoimento {
    padding: 40px 0;
}

section.depoimento h2 {
    color: #4b4b4b;
}

section.depoimento blockquote {
    color: #4b4b4b;
    font-size: 16px;
}

section.diferenciais {
    padding: 30px 0;
    background-color: rgb(225, 225, 225);

}

section.diferenciais > h2{
    font-size: 32px;
    color: #4b4b4b;
}

.diferenciais  h2{
    font-size: 22px;
    color: #4b4b4b;
}

section.diferenciais .col-md-4 {
    padding: 25px 25px 0 !important;
    color: #4b4b4b;
}
section.diferenciais .container h3 {
    color: rgb(77, 37, 30);
}

section.equipe h2 {
    background-color: rgb(21, 182, 160);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.equipe-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.equipe-single {
    margin-bottom: 25px;
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #ccc;
    box-shadow: 8px 7px 5px -3px rgba(20, 20, 20, 0.6);
}

.user-picture {
    width: 100%;
    padding-top: 100%;
    position: relative;
    left: 30%;
    transform: translate(-50% 0%);
}

.user-picture-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    background-color: rgba(134, 78, 78, 0.466);
}




@media screen and (max-width: 1024px){
    section.cadastro-lead form {
        vertical-align: middle;
        position: relative;
        top: 0px;
    }

    .user-picture{
        width: 40%;
        padding-top: 40%;
        position: relative;
    }
}